HEDERA_NETWORK=testnet
HEDERA_OPERATOR_ID=0.0.PLACEHOLDER_OPERATOR_ID
HEDERA_OPERATOR_PRIVATE_KEY=PLACEHOLDER_HEDERA_OPERATOR_PRIVATE_KEY
HEDERA_MIRROR_NODE_URL=https://testnet.mirrornode.hedera.com
REDIS_URL=redis://localhost:6379
USSD_PORT=5000
AFRICAS_TALKING_USERNAME=PLACEHOLDER_AT_USERNAME
AFRICAS_TALKING_API_KEY=PLACEHOLDER_AT_API_KEY
HNET_TOKEN_ID=0.0.7153593
HEC_TOKEN_ID=0.0.7153605
ENERGY_TRADING_TOPIC_ID=0.0.1007
